/* Theme Name: WP Theme BYMAG */

/* FONTS
=============================================================================== */
html{background-color: #fff; }
body { font: normal 13px/1.5 Tahoma, Verdana, Arial, sans-serif; color: #383838;}
#wrapper #header {width: 500px; margin: auto; text-align: center;}
#wrapper #header a#logo { display: block; font-family: Corbel;font-size: 128px; font-weight: bold; text-decoration: none; margin: auto; float: center; text-align: center; margin-top: 200px; }
a { text-decoration: none; color: #000 }
a:visited { color: #000 }
a:hover   { color: #717171; text-decoration: underline }