/* Theme Name: WP Theme BYMAG */

/* FONTS
=============================================================================== */
html {
    background-color: #fff;
}

body {
    font: normal 13px/1.5 Myriad Pro, Verdana, Arial, sans-serif;
    color: #000;
    background-color: #fff;
}

/* end FONTS ================================================================== */

/* FORMS
=============================================================================== */

.col-r25 {
    padding-left: 2%;
    border-left: 1px dotted #e1e1e1
}

.col-l70 form label {
    font-size: 17px;
    letter-spacing: 1px
}

.col-l70 form textarea {
    width: 550px;
    height: 230px;
    margin-bottom: 10px
}

.col-l70 form input[type="submit"] {
    border: 1px solid #f2f2f2;
    background: #f4f4f4;
    padding: 5px 12px;
    margin-top: 10px
}

.col-l70 form input[type="submit"]:hover {
    border-color: #e3e3e3
}

/* end FORMS ================================================================== */

/* HEADERS
=============================================================================== */

h1, h2 {
    color: #383838;
    letter-spacing: 0.5px
}

/* end HEADERS ================================================================ */

/* HELPERS
=============================================================================== */

/* Columns
------------------------------------------------------------------------------- */
.col-l10 {
    float: left;
    width: 10%
}

.col-l20 {
    float: left;
    width: 20%
}

.col-l30 {
    float: left;
    width: 30%
}

.col-l40 {
    float: left;
    width: 40%
}

.col-l50 {
    float: left;
    width: 50%
}

.col-l60 {
    float: left;
    width: 60%
}

.col-l70 {
    float: left;
    width: 70%
}

.col-l80 {
    float: left;
    width: 80%
}

.col-l90 {
    float: left;
    width: 90%
}

.col-r10 {
    float: right;
    width: 10%
}

.col-r20 {
    float: right;
    width: 20%
}

.col-r25 {
    float: right;
    width: 25%
}

.col-r30 {
    float: right;
    width: 30%
}

.col-r40 {
    float: right;
    width: 40%
}

.col-r50 {
    float: right;
    width: 50%
}

.col-r60 {
    float: right;
    width: 60%
}

.col-r70 {
    float: right;
    width: 70%
}

.col-r80 {
    float: right;
    width: 80%
}

.col-r90 {
    float: right;
    width: 90%
}

/* end HELPERS ================================================================ */
/*forms*/
form {
    color: #000;
    padding: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
}

#klientblock {
    margin-left: 280px;
    width: 300px;
}

/* IMAGES
=============================================================================== */

img.alignleft {
    float: left
}

img.alignright {
    float: right
}

img.aligncenter {
    display: block;
    margin: auto
}

#mainContent img {
    margin-left: 20px;
    border: 0px solid #fff;
    outline: 0px solid #e3e3e3
}

img#si_image_ctf1, #si_refresh_ctf1 img {
    outline: 0
}

.imgBack {
    margin-left: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #000;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: Myriad Pro;
    text-transform: uppercase;
}

/* end IMAGES ================================================================= */

/* LAYOUT
=============================================================================== */

#wrapper {
    width: 1024px;
    height: 700px;
    margin: 0 auto 0 auto;
    background-color: #fff;
    border: 0px solid black;
}

#wrapper #header {
    z-index: 1;
    overflow: visible;
    background: url(img/header_bg1.jpg) repeat-x;
    width: 1024px;
    height: 175px;
    border-bottom: 0px solid white;
    margin: auto;
    position: absolute;
}

#wrapper #header a#logo {
    position: absolute;
    width: 207px;
    height: 51px;
    background: url(img/logo1.png) no-repeat;
    left: 2%;
    top: 20%;
    overflow: visible;
    float: left;
    font-family: Corbel;
    font-size: 72px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

#wrapper #header #navBar {
    float: right;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    margin-right: -50px;
    width: 540px;
}

#wrapper #header p {
    font-weight: bold;
    font-size: 72px;
}

#wrapper #header #navBar ul {
}

#wrapper #header #navBar ul li {
    float: left;
    background: url(img/menu_bg1.jpg) repeat-x;
    height: 50px;
    padding: 5px;
}

#wrapper #header #navBar ul li a {
    display: inline-block;
    padding: 13px 2px 0 2px;
    margin: 0px 0px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #000;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: Myriad Pro;
    text-transform: uppercase;
}

#wrapper #header #navBar ul li a:hover, #wrapper #header #navBar ul li.current_page_item a {
    border-bottom: 0px solid #aaa;
    text-decoration: none;
    color: #0B5168;
}

#wrapper #mainContent {
    clear: both;
    overflow: hidden;
    padding: 0px;
    padding-top: 220px;
    padding-bottom: 40px;
    width: 1024px;
    margin: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
}

#wrapper #mainContent div.slider {
    overflow: hidden;
    width: 1024px;
    height: 0px;
    padding: 25px 18px 32px 20px;
    margin: 0px auto 0 -20px;
    background: url(img/slider_bg1.png) no-repeat
}

#wrapper #mainContent div.slider .mslide {
    height: 467px !important;
    overflow: hidden !important;
    width: 1024px !important
}

#wrapper #mainContent div.slider .mslide img {
    overflow: hidden;
    border: 0 none;
    outline: 0;
    margin-left: 0
}

#wrapper #mainContent div.textarea {
    margin-top: -100px;
    padding: 0px;
    padding-top: 0px;
    font-size: 16px;
    color: #000;
}

#wrapper #mainContent div.textarea #leftBox {
    float: left;
    width: 500px;
    text-align: justify;
}

#wrapper #mainContent div.textarea #leftKontakt {
    float: left;
    width: 150px;
    text-align: right;
}

#wrapper #mainContent div.textarea #centerBox {
    clear: both;
    margin: auto;
    text-align: center;
    width: 300px;
    font-size: 20px;
    line-height: 30px;
}

#wrapper #mainContent div.textarea #rightBox {
    float: right;
    width: 500px;
    text-align: justify
}

#wrapper #mainContent div.textarea #rightKontakt {
    float: right;
    width: 150px;
    text-align: left;
    margin-top: 450px;
}

#wrapper #mainContent div.textarea #gallery-1 {
    width: 1024px;
    overflow: hidden;
    margin: auto;
    padding: 0px;
    text-align: center;
    margin-top: 70px;
}

.gallery-item {
    margin: 0px;
}

.gallery_pages_list {
    margin-left: 0px;
    width: 1024px;
    padding: 0px;
}

#wrapper #mainContent h1 {
    font-size: 20px;
    padding: 100px 3px 0px 0px;
    border-bottom: 1px solid #e3e3e3;
    display: inline-block;
    margin-bottom: 10px
}

#wrapper #mainContent ul li {
    list-style: disc;
}

#wrapper #mainContent div.textarea #mapka {
    width: 600px;
    height: 700px;
    background: #fff;
    margin: auto;
    text-align: center;
    border: 2px solid #AAAAAA;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #aaa;
}

#wrapper #footer {
    z-index: 0;
    overflow: hidden;
    color: #000;
    position: fixed;
    bottom: 0%;
    border-bottom: 0px solid #000;
    width: 1074px;
}

#wrapper #footer ul {
    float: left;
    margin: 50px 0px 0 58px;
    border-top: 1px solid #e3e3e3;
    padding-bottom: 15px;
}

#wrapper #footer ul li {
    float: left;
    padding: 5px 10px;
    color: #000;
}

#wrapper #footer #footerNav #menu ul li a {
    color: #000;
}

.contact {
    position: absolute;
    z-index: 1200;
    right: 253px;
    top: 530px;
}

.opis {
    float: left;
    line-height: 30px;
    width: 300px;
    margin-top: -330px;
    margin-left: 550px
}

.fb {
    float: right;
}

/* end LAYOUT ================================================================= */

/* LINKS
=============================================================================== */
a {
    text-decoration: none;
    outline: none;
    color: #000
}

a:visited {
    color: #000
}

a:hover {
    color: #717171;
    text-decoration: underline
}

/* end LINKS ================================================================== */

/* MISC
=============================================================================== */
.iframe {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bold
}

.cb {
    clear: both
}

/* end MISC =================================================================== */

/* WIDGETS
=============================================================================== */

/* end WIDGETS ================================================================ */

/* SLIDER
=============================================================================== */

/* end SLIDER ================================================================= */