body, html {
  //overflow-x: hidden;
  background-color: #f8f8f8;
  line-height: 30px;
  background-image: none;
}

img {
 // @extend .img-responsive;
  border: 0 none !important;
}

main {
  position: relative;

}

.bordered {
  border: 6px solid #220e10;
}
.title {
  //text-align: center;
    font-size: 14px;
    font-style: italic;
}
.fixed-title {
  position: fixed;
  left: 40px;
  top: 60px;
}
a:focus {
  outline: none;
  border: 0 none;
}

.italic {
  font-style: italic;
  color: #cccccc;
  font-size: 48px;
  font-family: serif;
}
//.text-box {
//  position: absolute;
//  left: 10px;
//  top: 40%;
//  width: 40%;
//
//}
button {
  background: none;
  border: 0 none;
}
.hours {
  text-align: right;
  @media (max-width: $screen-sm) {
    //text-align: left;
  }
}
.aligncenter {
  margin: auto;
}

.zoomout {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border:none;
  transform: scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);

  &:hover {
    transform: scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -o-transform:scale(0.9);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border:none;
  }
}