<div class="col-md-6">
    <div class="text-box">
        <h2>Contact us</h2>
        <a href="mailto:kontakt@bymag.co.pl">kontakt@bymag.com.pl</a>
    </div>
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/1-651x1024.jpg" alt="Kontakt BYMAG" class="img-responsive alignnone size-large wp-image-596" />
</div>