<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/1-651x1024.jpg" alt="Kontakt BYMAG" width="651" height="1024" class="img-responsive alignnone size-large wp-image-596" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/603028_519375904769925_1454093310_n.jpg" alt="603028_519375904769925_1454093310_n" width="960" height="670" class="img-responsive alignnone size-full wp-image-458" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/64990_519376098103239_100810703_n.jpg" alt="64990_519376098103239_100810703_n" width="960" height="670" class="img-responsive alignnone size-full wp-image-455" />
</div>
<div class="col-md-7">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/62318_519376231436559_1000989912_n.jpg" alt="62318_519376231436559_1000989912_n" width="620" height="960" class="img-responsive alignnone size-full wp-image-466" />
</div>
<div class="col-md-5">
    <img src="http://www.bymag.localhost/wp-content/uploads/2013/07/DANIEL8-793x1024.jpg" alt="DANIEL8" width="793" height="1024" class="img-responsive alignnone size-large wp-image-594" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/306665_418838484821659_1582712980_n1.jpg" alt="306665_418838484821659_1582712980_n(1)" width="403" height="403" class="img-responsive alignnone size-full wp-image-463" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/734576_519375908103258_277298511_n.jpg" alt="734576_519375908103258_277298511_n" width="960" height="670" class="img-responsive alignnone size-full wp-image-459" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/196359_519376074769908_492252171_n.jpg" alt="196359_519376074769908_492252171_n" width="960" height="670" class="img-responsive alignnone size-full wp-image-456" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2013/07/DANIEL-4.jpg" alt="DANIEL-4" width="1024" height="729" class="img-responsive alignnone size-full wp-image-591" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/558373_519376068103242_416373639_n.jpg" alt="558373_519376068103242_416373639_n" width="620" height="960" class="img-responsive alignnone size-full wp-image-457" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/181120_4237958031011_1610028579_n1.jpg" alt="181120_4237958031011_1610028579_n(1)" width="640" height="737" class="img-responsive alignnone size-full wp-image-462" />
</div>
<div class="col-md-6">
    <img src="http://www.bymag.localhost/wp-content/uploads/2012/01/DANIEL.-738x1024.jpg" alt="DANIEL." width="738" height="1024" class="img-responsive alignnone size-large wp-image-595" />
</div>