#gallery-1 {
  width: 100% !important;
  .gallery-item {
    width: 33.3% !important;
    @extend .zoomout;
    img {
      @extend .img-responsive;
      margin: auto;
    }
  }
}

@media all and (max-width: $screen-sm) {
  #gallery-1 .gallery-item {
    width: 50% !important;
  }
}

@media all and (max-width: $screen-xs) {
  #gallery-1 .gallery-item {
    width: 100% !important;
    margin: auto;
    text-align: center;
  }
}