header {
  padding: 30px 0;

  #logo img{
    width: 250px;
  }
}
nav {
  ul {
    padding-left: 0;
    li {
      display: inline-block;
      text-transform: uppercase;
      margin: 10px 0 10px 20px;
    }
  }
}

@media all and (max-width: $screen-sm) {
  #logo {
    text-align: center;
  }
  header div:first-child {
    text-align: center;
  }
  nav {
    width: 100%;
  }
}

@media all and (max-width: $screen-xs) {
  header {
    #logo img {
      width: 200px;
    }
  }
  nav ul li {
    //width: 100%;
  }
}